<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqPaginator/jqPaginator.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body { font-family: 微软雅黑; font-size: 18px; }
        
        .table th, .table td {
            text-align: center;
        }
    </style>
    <script src="@Url.Content("~/Scripts/bootstrap/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.3.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqPaginator/jqPaginator.js")" type="text/javascript"></script>
    @RenderSection("Header", false)
</head>
<body>
    <div class='container'>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">管理系统</a>
                <ul class="nav">
                    <li class="active"><a href="/Person/Index/">人员管理</a></li>
                    <li><a href="#">部门管理</a></li>
                    <li><a href="#">角色管理</a></li>
                    <li><a href="#">模块管理</a></li>
                </ul>
            </div>
        </div>
        <div id='content' class='row-fluid'>
            <div class='span3 sidebar'>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/Person/Add/">新增人员</a></li>
                    <li><a href='#'>设置部门</a></li>
                    <li><a href='#'>设置角色</a></li>
                </ul>
            </div>
            @RenderBody()
        </div>
    </div>
</body>
</html>